absl-py==2.1.0
accelerate==0.33.0
aiohttp==3.9.5
aiosignal==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
anndata==0.10.9
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.11.2
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
camelot-py==0.11.0
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chex==0.1.88
click==8.1.7
cloudpickle==3.0.0
cma==4.0.0
comm==0.2.2
contourpy==1.2.1
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
deepchem==2.8.0
defusedxml==0.7.1
# Editable install with no version control (denoising-diffusion-pytorch==1.6.4)
-e /Users/wangq1/Documents/polymer/abstract/polymer_llm/PolyGen-main/PolyGen-main/diffusion1D/model
distro==1.9.0
einops==0.8.0
ema-pytorch==0.6.0
et_xmlfile==2.0.0
etils==1.5.2
evojax==0.2.17
exceptiongroup==1.2.1
executing==2.0.1
faiss-cpu==1.8.0.post1
fastjsonschema==2.20.0
feature-engine==1.8.3
filelock==3.15.4
Flask==3.0.3
flatbuffers==24.3.25
flax==0.8.5
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.6.0
get-annotations==0.1.2
ghostscript==0.7
google-pasta==0.2.0
grpcio==1.65.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
humanize==4.11.0
idna==3.7
importlib_metadata==7.2.0
importlib_resources==6.4.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
iterative-stratification==0.1.9
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jaxopt==0.8.3
jedi==0.19.1
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keras==3.4.1
kiwisolver==1.4.5
langchain==0.3.5
langchain-community==0.3.3
langchain-core==0.3.13
langchain-experimental==0.3.2
langchain-openai==0.2.4
langchain-text-splitters==0.3.1
langsmith==0.1.137
legacy-api-wrap==1.4.1
libclang==18.1.1
lightning-utilities==0.11.3.post0
llvmlite==0.43.0
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
# Editable install with no version control (minGPT==0.0.1)
-e /Users/wangq1/Documents/polymer/abstract/polymer_llm/PolyGen-main/PolyGen-main/minGPT/model
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
mypy-extensions==1.0.0
namex==0.0.8
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netkit==3.1.12
networkx==3.2.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==2.0.2
omegaconf==2.3.0
openai==1.52.2
openpyxl==3.1.5
opt-einsum==3.3.0
optax==0.2.4
optree==0.12.1
orbax-checkpoint==0.6.4
orjson==3.10.6
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.1
pdfminer.six==20240706
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
pydantic==2.8.2
pydantic-settings==2.6.0
pydantic_core==2.20.1
Pygments==2.18.0
PyMuPDF==1.24.13
pynndescent==0.5.13
pyparsing==3.1.2
pypdf==5.1.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-fid==0.3.0
pytorch-lightning==2.3.3
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rdkit==2024.3.5
rdkit-pypi==2021.9.4
redis==5.2.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
safetensors==0.4.4
scanpy==1.10.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
Send2Trash==1.8.3
session-info==1.0.0
setproctitle==1.3.5
shap==0.46.0
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
skorch==1.0.0
slicer==0.0.8
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.31
stack-data==0.6.3
statsmodels==0.14.4
stdlib-list==0.11.1
sympy==1.13.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.16.2
tensorflow-metal==1.1.0
tensorstore==0.1.69
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.3.0
tokenizers==0.19.1
tomli==2.0.1
toolz==1.0.0
torch==2.4.0
torchaudio==2.4.0
torchmetrics==1.4.0.post0
torchvision==0.19.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.44.2
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
umap==0.1.1
umap-learn==0.5.7
ump==0.2.4
uri-template==1.3.0
urllib3==2.2.2
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wrapt==1.16.0
yarl==1.9.4
zipp==3.19.2
